//====================================================================================================

.modern {

    position: relative;

    @media (max-width: $mobile) {
        padding-bottom: rem(130);
    }

    // .modern__container

    &__container {
    }

    // .modern__bg

    &__bg {
        position: absolute;
        top: -25%;
        left: 0;
        width: 100%;
        height: 150%;
        z-index: -1;
        @media (max-width: $tablet) {
            top: -30%;
            height: 130%;
        }

        @media (max-width: $mobileSmall) {
            top: -35%;
            height: 135%;
        }
    }

    // .modern__image

    &__image {
        display: flex;
        justify-content: center;
        height: rem(784);

        img {
            width: 100%;
            max-width: rem(784);
            object-fit: cover;
            transform: scale(.1);

            @media (max-width: $mobile) {
                transform: scale(1.5);
                margin-left: rem(50);
            }
        }
    }
}


//====================================================================================================