//====================================================================================================

.modern {
    position: relative;
    height: calc(150vh);
    width: 100%;
    top: 0;
    left: 0;

    @media (max-width: $mobile) {
        padding-bottom: rem(130);
    }

    // .modern__container

    &__container {
        height: 100%;
        max-width: 100%;
    }

    // .modern__wrapper

    &__wrapper {
        position: sticky;
        top: 0;
        width: 100%;
    }

    // .modern__bg

    &__bg {
        position: absolute;
        top: -25%;
        left: 0;
        width: 101%;
        height: 150%;
        z-index: -1;
        @media (max-width: $tablet) {
            top: -30%;
            height: 130%;
        }

        @media (max-width: $mobileSmall) {
            top: -35%;
            height: 135%;
        }
    }

    // .modern__image

    &__image {
        display: flex;
        justify-content: center;
        height: rem(784);

        img {
            width: 100%;
            max-width: rem(784);
            object-fit: cover;
            transform: scale(0.1);

            @media (max-width: $mobile) {
                // transform: scale(1.5);
                margin-left: rem(50);
            }
        }
        @media (max-width: $mobile) {
            height: 100%;
        }
    }
}

//====================================================================================================
